.Input{
    display: block;
    margin: 25px;
    width: 250px;
    /* margin-left: 30%; */
    border: 3px solid skyblue;
    padding: 7px;
}

.conatiner {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .div1{
    margin-left: 31%;
} */

.button{
    /* margin-left: 30%; */
    padding: 5px;
    width: 80px;
    border-color: skyblue;
    cursor: pointer;
}